.nagarroAG-logo {
    position: fixed;
    top: 0;
    right: 0;
    width: 236px;
    height: 94px;
    opacity: 0.5;
    background: url(../images/nagarroAG.png) no-repeat;
}

.reveal code {
    max-height: 600px;
}

.run-code {
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: url(../images/glyphicons/glyphicons_220_play_button.png) no-repeat;
}

span.code {
    border-bottom: 1px dotted black;
    font-weight: bold;
}

.humane-bigbox {
    left: 50% !important;
    width: auto !important;
    opacity: 0.6 !important;
    text-align: left;
}
